
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url( 'https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;
    overflow: hidden;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


nav img {
    width: 100px;
}


.logo {
    width: 160px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}


nav ul li a:hover {
    border-bottom: 2px solid #fff;
}


.container h1 {
    font-size: 75px;
    margin-top: 12%;
    font-weight: 800;
}


.container p {
    font-size: 15px;
}


.container button {
    font-size: 15px;
    background: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    margin-top: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}


.indicator span {
    display: inline-block;
    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}


.indicator {
    position: absolute;
    margin-left: 10px;
    bottom: 100px;
}


.cta {
    position: absolute;
    width: 25%;
    min-width: 250px;
    right: 8%;
    bottom: 100px;
}